/* Will be compiled down to a single stylesheet with your sass files */


@-webkit-keyframes wink {
    from { background-position: 0%; }
    to { background-position: -400%; }
}


// .animation {
//   width: 180px;
//   height: 180px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin: -45px 0 0 -45px;
//   -webkit-animation: wink 1s steps(4) infinite;
//   -webkit-animation-ease: linear;
//   background-size: cover;
//   // background-color: red;
//   // background-image: url('/seq1.png');

// }
.box_face {
  // background-image: url('http://placekitten.com/1000/1000')!important;
  background-size: 100px 100px;
  img {
    width: 100%;
  }
  h1 {
    -webkit-font-smoothing: antialiased;
  }
}

html {
  background-image: url(http://i.imgur.com/yahc0.gif);
  // -webkit-transform: translateZ(0);
  // position: absolute;
  // height: 100%;
  // width: 100%;
  // left: 0;
  // top:0;
  // z-index: 1;
  background-size: cover;
}
body > div {
  height: 100%!important;
}