@import "_normalize"


.box_face {
  // background-image: url('http://placekitten.com/1000/1000')!important;
  background-size: 100px 100px;
  img {
    width: 100%;
  }
  h1 {
    -webkit-font-smoothing: antialiased;
  }
}

html {
  background-image: url(http://i.imgur.com/yahc0.gif);
  // -webkit-transform: translateZ(0);
  // position: absolute;
  // height: 100%;
  // width: 100%;
  // left: 0;
  // top:0;
  // z-index: 1;
  background-size: cover;
}
body > div {
  height: 100%!important;
}


body, html {
  width: 100%;
  height: 100%;
}